<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }

        .container {
            width: 90%;
            margin: 20px auto;
            padding: 20px;
        }

        .welcome {
            color: #333366;
        }

        .button {
            display: inline-block;
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="welcome">Welcome to Organic, {NAME}!</h1>
        <p>We're thrilled to welcome you to the Organic!.</p>

        <h3>Your Next Steps:</h3>
        <ol>
            <li><strong>Complete Your Profile:</strong> Add a personal touch to your profile by filling in your bio and
                interests. This helps us tailor your Organic experience.</li>
            <li><strong>Discover New Art:</strong> Use our intuitive search to find pieces that move you, or explore
                curated collections for a dose of inspiration.</li>
            <li><strong>Join the Conversation:</strong> Follow your favorite artists, join discussions, and share your
                thoughts on the pieces that catch your eye.</li>
        </ol>

        <p>Click on the link below to visit the site<br /><br />{LINK}</p>

        <p><strong>Need Help?</strong> Our support team is here to ensure your experience is seamless and rewarding. For
            any questions or assistance, feel free to reach out to us at <a
                href="mailto:support@organic.com">support@organic.com</a>.</p>

        <p>Thank you for joining Organic. We can't wait to see where this journey takes you.</p>

        <p>